{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <div class="mt-4">
                <p>You can create new account <a href="{% url 'users:registration' %}">Here</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}